<div class="gridster">
  <ul>
    <% units = (ENV['UNITS2']|| 'Admo-2,Admo-3').split(',')
    units.each do |unit |%>
     <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
        <div data-view="Unit" data-id="<%= unit%>" data-name="<%= unit%>"></div>
      </li>
    <% end%>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="2">
      <div data-view="Image" data-image="/admo-logo.png"></div>
    </li>
  </ul>
</div>
